# Base de datos
DATABASE_URL=

# FastAPI
DEBUG=True
SECRET_KEY=

# Administrador inicial
ADMIN_EMAIL=admin@academia.com
ADMIN_PASSWORD=admin123
ADMIN_NOMBRES=Administrador
ADMIN_APELLIDOS=Sistema
ADMIN_TELEFONO=000000000

# LLM (aún no decidido, pero reservar)
LLM_PROVIDER=
LLM_API_KEY=

# Canales (Meta)
WHATSAPP_BUSINESS_ACCOUNT_ID=
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_API_KEY=
FACEBOOK_VERIFY_TOKEN=
FACEBOOK_ACCESS_TOKEN=
